<% provide :title, t(".title") %>
<% provide :title_page, @subject.name %>
<div class="wrapper">
  <%= render "courses/sidebar" %>
  <div id="content_page">
    <%= render "courses/breadcrumd" %>
    <%= render "subjects/titlesubject" %>
    <div class="details">
      <%= @subject.details %>
    </div>
    <%= render "subjects/sidebarmember" %>
    <div class="content">
      <% @subject.tasks.each_with_index do |task, x| %>
        <div class="row_content">
          <div id="<%= x+1 %>">
            <h3> <%= task.title %> </h3>
            <p> <%= task.content %> </p>
            <% if can? [ :update, :destroy], task  %>
              <div class="float-right">
                <%= link_to '<i class="fa fa-refresh" aria-hidden="true"></i>'.html_safe,
                      edit_task_path(id: task, course_id: params[:course_id],
                                   subject_id: params[:id]) %>
                <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe,
                      task_path(id: task, course_id: params[:course_id], subject_id: params[:id]),
                      method: :delete, data: {confirm: "you sure ? "} %>
              </div>
            <% end %>
          </div>
        </div>
        <% if @course_user.joinning? %>
          <% if can? :create, task %>
            <% unless check_status? params[:subject_status] %>
              <div class="report">
                <h3> <%= t ".reporttask" %> </h3>
                <%= form_for(:usercoursetask, url: user_course_tasks_path, remote: true) do |f| %>
                  <div class="row">
                    <%= f.hidden_field :task_id, value: task.id %>
                    <%= f.hidden_field :join_date, value: params[:join_date] %>
                    <%= f.hidden_field :course_id, value: params[:course_id] %>
                    <div class="col-sm-3">
                      <%= f.file_field :file_excel, class: "btn btn-sm float-left" %>
                    </div>
                    <div class="col-sm-3 message"></div>
                    <div class="col-sm-3">
                      <%= f.submit t(".report"), class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.trainer? %>
        <div class="create_task">
          <h3> <%= t ".create_task" %> </h3>
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(:task, url: tasks_path) do |f| %>
              <%= f.label t ".field_title" %>
              <%= f.text_field :title, class: "form-control" %>

              <%= f.label t ".content" %>
              <%= f.text_field :content, class: "form-control" %>

              <%= f.hidden_field :subject_id, value: @subject.id  %>
              <%= f.hidden_field :course_id, value: params[:course_id] %>
              <div class="message">
              </div>
              <%= f.submit t(".create_task"), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="container">
      <div class="row1">
        <div class="col-md-12">
          <div class="text-center text-uppercase">
            <h2> <%= t ".task_of_member" %> </h2>
          </div>
          <div class="column-chart">
            <div class="legend legend-left hidden-xs">
                <p class="legend-title"> <%= t "number_task" %> </p>
            </div>
            <div class="legend legend-right hidden-xs">
              <div class="item">
                <h4>20</h4>
              </div>
              <div class="item">
                  <h4>15</h4>
              </div>
              <div class="item">
                  <h4>10</h4>
              </div>
              <div class="item">
                  <h4>5</h4>
              </div>
            </div>
            <div class="chart clearfix">
              <% @users.each do |user|%>
                <% if user.trainee? %>
                  <div class="item">
                    <div class="bar">
                      <span class="percent"> <%= user.count_tasks %> </span>
                      <div class="item-progress" data-percent="<%= user.count_tasks %>">
                        <span class="title"> <%= user.name %> </span>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
