<% provide :title, t(".title") %>
<% provide :title_page, @subject.name %>
<div class="wrapper">
  <%= render "courses/sidebar" %>
  <div id="content_page">
    <%= render "courses/breadcrumd" %>
    <%= render "subjects/titlesubject" %>
    <%= render "subjects/sidebarmember" %>
    <div class="content">
      <% @subject.tasks.each do |task| %>
        <div class="row_content">
          <div id="<%= task.title%>">
            <h3><%= task.title %></h3>
            <p><%= task.content %></p>
          </div>
        </div>
        <div class="report">
        <h3> <%= t ".reporttask" %> </h3>
          <%= form_for(:usercoursetask, url: user_course_tasks_path, remote: true) do |f| %>
            <div class="row">
              <%= f.hidden_field :task_id, value: task.id %>
              <%= f.hidden_field :course_id, value: params[:course_id] %>
              <div class="col-sm-3">
                <%= f.file_field :file_excel, class: "btn btn-sm float-left" %>
              </div>
              <div class="col-sm-3 message">
              </div>
              <div class="col-sm-3">
                <%= f.submit t(".report"), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
