<div class="card">
  <%= image_tag("nguoi.png", alt: "card image") %>
  <div class="card-body">
    <h5 class="card-title"> <%= course_id.course.name %> </h5>
    <p class="card-text"> <%= course_id.course.content %> </p>
    <div class="status_bg">
    </div>
    <div class="status">
      <%= course_id.status %>
    </div>
    <%= link_to t(".button_show"), course_path(id: course_id.course.id,
      join_date: course_id.join_date), class: "btn btn-primary" %>
  </div>
</div>
