<div class="nav_tab">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <%= link_to t(".subjects"), "#subject", class: "nav-link active", data: { toggle: "tab"} %>
    </li>
    <li class="nav-item">
      <%= link_to t(".report"), "#report", class: "nav-link ", data: { toggle: "tab"} %>
    </li>
    <li class="nav-item">
      <%= link_to t(".member"), "#member", class: "nav-link ", data: { toggle: "tab"} %>
    </li>
    <li class="nav-item">
      <%= link_to t(".doccument"), "#doccument", class: "nav-link ", data: { toggle: "tab"} %>
    </li>
  </ul>
  <div class="tab-content">
    <div id="subject" class="container tab-pane active"><br>
      <%= render "courses/timeline" %>
    </div>
    <div id="report" class="container tab-pane fade"><br>
      <table class="table">
        <% count = 0 %>
        <% if current_user.trainee? %>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"> <%= t ".subject" %> </th>
              <th scope="col"> <%= t ".name_task" %> </th>
              <th scope="col"> <%= t ".file" %> </th>
              <th scope="col"> <%= t ".status" %> </th>
              <th scope="col">  </th>
            </tr>
          </thead>
          <% @user_couser_tasks.each do |user_course_task| %>
            <tbody>
              <tr>
                <td> <%= count += 1 %> </td>
                <td> <%= user_course_task.subject_name %> </td>
                <td> <%= user_course_task.task_title %> </td>
                <td> <%= link_to user_course_task.file_excel_file_name, user_course_task.file_excel.url %> </td>
                <td> <%= user_course_task.status %> </td>
                <td>
                  <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe,
                    user_course_task_path(id: user_course_task.id,
                                          course_id: params[:id],
                                          join_date: params[:join_date]),
                    method: :delete, data: {confirm: t(".sure")} %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% else %>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"> <%= t ".name" %> </th>
              <th scope="col"> <%= t ".subject" %> </th>
              <th scope="col"> <%= t ".name_task" %> </th>
              <th scope="col"> <%= t ".file" %> </th>
              <th scope="col"> <%= t ".status" %> </th>
              <th scope="col">#</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <% @user_task_ids.each do |user_course_task| %>
            <tbody>
              <tr>
                <td> <%= count += 1 %> </td>
                <td> <%= user_course_task.user_name %> </td>
                <td> <%= user_course_task.subject_name %> </td>
                <td> <%= user_course_task.task_title %> </td>
                <td> <%= link_to user_course_task.file_excel_file_name, user_course_task.file_excel.url %> </td>
                <td> <%= user_course_task.status %> </td>
                <td>
                  <%= link_to '<i class="fa fa-refresh" aria-hidden="true"></i>'.html_safe,
                    edit_user_course_task_path(id: user_course_task.id,
                                               course_id: params[:course_id],
                                               join_date: params[:join_date]) %>
                </td>
                <td>
                  <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe,
                    user_course_task_path(id: user_course_task.id,
                                          course_id: params[:id],
                                          join_date: params[:join_date]),
                    method: :delete, data: {confirm: t(".sure")} %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
    <div id="member" class="container tab-pane fade"><br>
      <h3> <%= t ".member" %> (<%= @user_courses.size %>) </h3>
      <div class="row">
        <%= t ".trainer" %>:
        <% @user_courses.each do |user_course| %>
          <% if user_course.user.trainer? %>
            <div class="col-sm-2">
              <%= link_to user_course.user.name, user_path(id: user_course.user.id)%>
              <% if current_user.trainer? %>
                <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe,
                      course_user_path(id: user_course, course_id: params[:id], join_date: params[:join_date]),
                        method: :delete, data: { confirm: t(".sure") } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <%= t ".trainee" %>:
        <% @user_courses.each do |user_course| %>
          <% if user_course.user.trainee? %>
            <div class="col-sm-2">
              <%= link_to user_course.user.name, user_path(user_course.user) %>
              <% if current_user.trainer? %>
                <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe,
                      course_user_path(id: user_course, course_id: params[:id], join_date: params[:join_date]),
                        method: :delete, data: { confirm: t(".sure") } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if current_user.trainer? %>
        <div class="create_member">
          <h3> <%= t ".add_member" %> </h3>
          <%= form_for(:course_user, url: course_users_path ) do |f| %>
            <%= f.label t ".name", class: "col-sm-2" %>
            <%= f.select :user_id, options_for_select(@user_not_courses), {}, {class: "form-control"} %>
            <%= f.hidden_field :course_id, value: params[:id] %>
            <%= f.hidden_field :join_date, value: params[:join_date] %>
            <div class="message">
            </div>
            <%= f.submit t(".add"), class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
