<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <%= image_tag("nguoi.png", :alt => "logo user") %>
    <%= link_to current_user.name, "#" %>
  </div>
  <ul class="list-unstyled components">
    <p> <%= t ".myif" %> </p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="navbar-toggler"> <%= t ".myspace" %> </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
              <%= link_to t(".mycourse"), courses_path %>
          </li>
        </ul>
      </li>
  </ul>
</nav>
