<p> <%= t ".hello" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p> <%= t ".contact" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p> <%= t ".contact_has_changed" %> <%= @resource.email %>.</p>
<% end %>
