<p> <%= t ".hello" %> <%= @resource.email %>!</p>
<p> <%= t ".link_changed"%> </p>
<p><%= link_to  t(".change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p> <%= t ".request" %> </p>
<p> <%= t ".no_change" %> </p>
