<div class="navmenu">
  <%= form_tag("#", id: "search-form") do %>
    <%= text_field_tag :search %>
    <%= submit_tag t(".search"), id: "button-submit" %>
  <% end %>
  <nav id="navbar">
    <ul class="navbar">
      <li>
        <%= image_tag("nguoi.png", :alt => "logo-admintrator") %>
      </li>
      <li id="sub-menu">
        <span itemprop="name"> <%= link_to t(".User"), admin_users_path %> </span>
      </li>
      <li id="sub-menu">
        <span itemprop="name"><%= link_to t(".Courses"), admin_courses_path %> </span>
      </li>
      <li>
        <%= link_to t(".subjects&task"), "#" %>
      </li>
      <li>
        <%= link_to t(".contact"), "#" %>
      </li>
    </ul>
  </nav>
</div>
