<div class="navmenu">
  <nav id="navbar">
    <ul class="navbar">
      <li>
        <%= image_tag("nguoi.png", :alt => "logo-admintrator") %>
      </li>
      <li id="sub-menu">
        <span itemprop="name"> <%= link_to t(".User"), admin_users_path %> </span>
      </li>
      <li id="sub-menu">
        <span itemprop="name"><%= link_to t(".Courses"), admin_courses_path %> </span>
      </li>
      <li>
        <%= link_to t(".subjects&task"), "#" %>
      </li>
      <li>
        <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to t(".contact"), "" %>
      </li>
    </ul>
  </nav>
</div>
