<div class="navmenu">
  <%= form_tag("#", id: "search-form") do %>
    <%= text_field_tag :search %>
    <%= submit_tag t(".search"), id: "button-submit" %>
  <% end %>
  <nav id="navbar">
    <ul class="navbar">
      <li>
        <%= image_tag("nguoi.png", :alt => "logo-admintrator") %>
      </li>
      <li id="sub-menu">
        <span itemprop="name"><%= t(".users") %></span>
        <ul class="sub-menu">
          <li>
            <%= link_to t(".all"), admin_users_path %>
          </li>
          <li>
            <%= link_to t(".activared"), admin_users_path(type: true)  %>
          </li>
          <li>
            <%= link_to t(".archive"), admin_users_path(type: false) %>
          </li>
          </ul>
      </li>
      <li id="sub-menu">
        <span itemprop="name"><%= t(".courses") %></span>
        <ul class="sub-menu">
          <li>
            <%= link_to t(".all"), "#" %>
          </li>
          <li>
            <%= link_to t(".completed"), "#" %>
          </li>
          <li>
            <%= link_to t(".running"), "#" %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to t(".subjects&task"), "#" %>
      </li>
      <li>
        <%= link_to t(".contact"), "#" %>
      </li>
      <li class="nav-item btn-menu">
        <%= hidden_field_tag "sub_user", get_sub_user %>
        <%= render "notifications/notification_center",
          notifications: get_notification %>
      </li>
    </ul>
  </nav>
</div>
