<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand logo" href="#">
      <%= image_tag("framgia-inc-logo.jpg", size: "50x50", :alt => "logo") %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto menu">
        <li class="nav-item active">
          <%= link_to t(".home"), root_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class="dropdown nav-item active" >
            <%= link_to t(".account"),"#" , class: "nav-link", data: {toggle:"dropdown"}  %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), "#" %></li>
              <li><%= link_to t(".settings"), "#" %></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <li class="nav-item btn-menu">
            <%= hidden_field_tag "sub_user", get_sub_user %>
            <%= render "notifications/notification_center",
              notifications: get_notification %>
          </li>
        <% else %>
        <li class="nav-item btn-menu">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"> <%= t ".login" %> </button>
        </li>
        <li class="nav-item btn-menu">
          <%= link_to t(".register"), signup_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
    <%= link_to "en", locale: :en %>
    <%= link_to "vi", locale: :vi %>
  </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <%= t ".login"  %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <%= form_for(:session, url: login_path, remote: true) do |f| %>
        <div class="modal-body">
          <div class="messages_false"></div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit t(".login"), class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
